*{
  margin: 0;
}

/*TOP NAV */

.top-nav {
  height: 30px;
  display: flex;
  align-items: center;
}

.top-nav-freeship {
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: red;
  padding-left: 50px;
  margin-right: auto;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin-left: auto; /* Dịch chuyển danh sách xã hội sang bên phải cùng */
  display: flex;
}

.top-nav-item {
  color: black;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.top-nav-item a {
  text-decoration: none;
  color: #fff;
}

.top-nav-item a img{
  width: 20px;
  height: 20px;
}

/* NAVVVVVVVVVVVVVVVVVVVVVVVVVVV */

.nav {
  background-color: black;
  color: #fff;
  padding: 10px;
}

.nav-list {
  padding-left: 200px;
  padding-right: 200px;
  display: grid;
  grid-template-columns: auto repeat(5, 1fr) repeat(4, 0fr); /* Chia thành 10 ô, với ô 1 là auto (logo) */
  gap: 20px; /* Khoảng cách giữa các phần tử */
  align-items: center; /* Căn giữa dọc */
}

.logo {
  grid-column: span 1; /* Chiếm 1 ô (ô 1) */
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.logo img {
  width: 80px;
  height: auto;
}

.nav-item {
  list-style: none;
  font-size: 16px;
  grid-column: span 1; /* Chiếm 1 ô (ô 2 đến 6) */
}

.nav-item a {
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Căn phải nội dung của nav item */
}

i {
  margin-left: 5px;
  font-size: 18px;
}

/*Link Image*/

.image-link-slide {
  background-color: yellowgreen;
  height: 700px;
}

/*Product Show*/
.product-show {
  background-color: peru;
  height: 1400px;
}

/*Best Seller*/
.best-seller {
  background-color:aqua;
  height: 600px;
}

/*Footer*/
.footer {
  background-color: bisque;
  height: 500px;
}